<div class="user-container row">
  <mat-drawer-container *ngIf="isReady" class="example-container col-lg-5 col-md-6 col-sm-8 col-xs-10" hasBackdrop>
    <mat-drawer #drawer style="width:100%" :class="example-sidenav" mode="over">
      <mat-toolbar color="secondary" style="height: 3%">
        <mat-toolbar-row><span> Users </span></mat-toolbar-row>
      </mat-toolbar>
      <mat-list style="height: 97%">
        <mat-list-item *ngFor="let user of users" (click)="openChat(user)" (click)="drawer.toggle()">
          <!-- <img matListAvatar src="..." alt="..."> -->
          <h3 matLine> {{user}} </h3>
          <!-- <p matLine>
          <span> {{user}} </span>
          <span class="demo-2"> -- {{user}} </span>
        </p> -->
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-drawer>
    <mat-drawer-content style="width:100%">
      <mat-toolbar color="secondary" style="height: 3%">
        <mat-toolbar-row><mat-icon style="padding-right: 2em" (click)="drawer.toggle()">menu</mat-icon><span> {{title}} </span></mat-toolbar-row>
      </mat-toolbar>
      <div class="example-sidenav-content" style="height:97%;display: block">
        <div style="height: 85%;width: 100%;;overflow-y:scroll">
          <mat-list *ngIf="currentUser != undefined">
            <!-- <label *ngIf="messages.length == 0">No Messages to Show</label> -->
            <mat-list-item *ngFor="let message of messages">
              <mat-icon *ngIf="user.user_id == message.to_user" matListAvatar>call_received</mat-icon>
              <mat-icon *ngIf="user.user_id == message.from_user" matListAvatar>call_made</mat-icon>
              <h3 matLine> {{message.text}} </h3>
              <p matLine>
                <span>{{message.timeStamp}}</span>
              </p>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>
        <div style="height: 10%;width: 100%">
          <div *ngIf="currentUser != undefined" class="conversation-input">
            <mat-form-field style="width:100%">
              <input matInput placeholder="Start typing..." name="text" [(ngModel)]="text">
              <mat-icon matSuffix (click)="sendMessage(text)" color = "pink">send</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>